<section id="search" class="search-wrap">
    <h1>Find A Card in the Lotr Database</h1>
    <form action="/cards/search" class="search-form">
        <i class="fas fa-search"></i>
        <input type="search" name="term" placeholder="Search for a card by name">
        <input type="submit" value="Search">
    </form>
</section>